@font-face {
  font-family:PermanentMarker;
  src: url('../fonts/PermanentMarker-Regular.ttf');
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:PermanentMarker;
  background-color: $background;
  color: $defaulColor;
}
