// Cor de fundo da página
$background:#EDC9FF;
// Cor onde fica o calendario
$backgroundBody:#fffcff;
// Cor do cabeçalho
$backgroundHeader:#7CA982;
// Cor padrão do texto
$defaulColor:#fffcff;
// Cor do corpo 01 ,02 ,03...
$tbodyColor:#7D82B8;
// Cor do cabeçalho  dom , seg , ter ...
$theadColor:#05204A;
// Cor do mês << janeiro >>
$mountColor:#7D8491;
